{% extends 'base.html.twig' %}

{% block title %}Papou - Registration{% endblock %} 

{% block body %}

    <div class="container">
        <h1 class="mt-4">Création du compte</h1>
        <hr class="my-2">

        {{ form(form, { 'attr': {
            "class": "mt-4"
        }}) }}

    </div>

{% endblock %}